.legend-box {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 5px;
            border-radius: 3px;
            vertical-align: text-bottom;
        }